*{
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

.main {
    background-color: #f0f2f5;
	text-align: center;
    padding-bottom: 70px;

}

.main .image {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main .image img {
    padding-top: 60px;
	width: 390px;
}

.headerBlock .logInText{
    text-align: center;
    padding: 0 10px 0 10px;
    line-height: 22px;
    background-color: white;
    margin: 20px;
}

.main .loginFacebook {
    background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
	margin: auto;
	padding: 0 0 50px 0;
	width: 500px;
	text-align: center;
    background: #fff;;
	border: 1px solid #dddfe2;
}

.logInText{
    font-size:x-large;
    margin: 20px;
}

.userInfo{
    font-size: 17px;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.userEmail input{ 
    margin: 10px 0px;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    height: 22px;
    background: #FFFFFF;
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 16px;
    vertical-align: middle;
    box-shadow: white;
}

.userPassword input{
    margin: 10px 0px;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    height: 22px;
    background: #FFFFFF;
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 16px;
    vertical-align: middle;
}

.button button{
    margin: 10px 0px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 30px;
    line-height: 48px;
    padding: 0 16px;
    width: 364px;
    height: 48px;
    color: white;
}

.backup a{
    font-weight: normal;
    color: #1877f2;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

